@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Londrina+Solid:wght@900&family=New+Tegomin&family=Roboto:wght@400;500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Ballet&display=swap');


@font-face {
    font-family: 'BarcodeText';
  src: url('./assets/fonts/LibreBarcode128Text-Regular.ttf')  format('truetype');
}

@font-face {
  font-family: 'UpsideDown';
  src: url('./assets/fonts/UpsideDown.ttf')  format('truetype');
}

:root {
    color: #000000;
    font-size: 16px;
}

body {
    padding: 0;
    margin: 0;
}
.container {
    margin-left: 10rem;
    padding: 1rem;
    width 100%;
    display: flex;
    flex-wrap: wrap;

}

.navbar {
    position: fixed;
    background: linear-gradient(#111111, #222222);
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 10rem;
    
}

.text-area {
  flex: 1;
  height: 60vh;
  font-size: 20px;
  background: #eee;
  padding: 2rem;
  border: 5px solid white;
}

.dropdown {
    background-color: #ddd;
    height: 8vh;
    font-size: 30px;
    font-weight: bold;
}

.logo {
    margin-left: 1rem;
    height: 15vh;
    outline: solid thin;
}
.summary {
    font-weight: bolder;
    padding: 1rem;
    width: 60%;
    margin-left: 2rem;
}

.directions {
    padding: 1rem;
}
